
<div class="container">
<h1>
Welcome Back <%= current_user.full_name%>
</h1>
</div>
<%# <%= link_to "Logout", logout_user_path(user_id: current_user.id), method: :delete %> 
<%# <%= button_to "Logout",destroy_user_session_path, method: :delete%> 

<%= render "form", users: @users %>
